/* Comandos de apresentação da NAV */

nav {
  background: rgb(243, 245, 246);
  height: 50px;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}
.minhanav {
  appearance: button;
  border: none;
  background-color: rgb(13, 94, 165);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  width: 100px;
}

.minhanavtitulo {
  appearance: button;
  border: none;
  background-color: rgb(243, 245, 246);
  color: rgb(13, 94, 165);
  text-decoration: none;
}

/* Comandos do Botão de Link para página de RESERVA */

.link-as-button {
  appearance: button;
  padding: 5px 10px;
  border: none;
  background-color: rgb(13, 94, 165);
  color: white;
  text-decoration: none;
  width: 300px;
  border-radius: 50px;
}

/* Comandos organizar a apresentação do audio */

.audio {
  padding: 10px;
}

/* Comandos de apresentação da Seção Geral que será utilizada por todo o sistema */

.secaoGeral {
  position: relative;
  top: 10px;
  left: 10px;
  right: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 590px;
  max-width: 29%;
  margin: left;
  box-shadow: 3px 3px 10px rgba(18, 170, 230, 0.4);
  float: left;
}

/* Comandos de apresentação da Seção da Página de RESERVA */

.secaoReserva {
  position: relative;
  top: 10px;
  left: 10px;
  right: 10px;
  margin-left: 10px;
  background: rgb(243, 245, 246);
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  margin: left;
  box-shadow: 3px 3px 10px rgba(18, 170, 230, 0.4);
  float: left;
}

/* Comandos de apresentação do Formulário de RESERVA */

.formularioReserva {
  & input {
    border: 1px solid;
    border-left: 50px;
    box-shadow: 0px 0px 10px black;
    padding: 5px 5px;
    width: 100%;
    height: 34px;
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-style: normal;
  }
}
